body{
    font-family: 'Rootov', Helvetica, sans-serif;
    text-align: center;
    background-color: teal;
}

hr{
    width: 400px;
}

h1{
    color: maroon;
}

#game-board{
    width: 400px;
    height: 400px;
    background-color: maroon;
    border-radius: 10px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    width: 78px;
    height: 78px;
    border: 1px solid teal;

    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#letters{
    width: 420px;
    height: 190px;
    padding: 4px 4px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.letter{
    width: 70px;
    height: 70px;

    border: 1px solid maroon;
    background-color: beige;
    margin: 4px auto;
    border-radius: 10px;
    
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-selected{
    background-color: gray;
}

.used-letter{
    opacity: 30%;
}

.winning-state{
    background-color: green;
}


.button{
    background-color: beige;
    border: 1px solid maroon;
    margin: 4px auto;
    border-radius: 6px;
    

   

}
.button1{
    top:25%;
    left:68.6%;
    font-size: bold;
    
    position: absolute;

}
.button2{
    top:30%;
    left: 68.6%;
    position: absolute;

}
.button3{
    top:27.5%;
    left:67.1%;
    
    position: absolute;

}
.button4{
    top:27.5%;
    left: 69.8%;
    position: absolute;

}

.stopWatch{
    top:24%;
    left: 26%;
    position: absolute;
    display: grid;
    grid-row-gap: 23px;
    padding-top: 25px;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 40px;
    width: 70px;
  
    border: 2px solid;
    border-radius: 30px;
}
.time {
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
  }